.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.header{
    background-image: url('../assets/Hero-bg.png');
    background-position: left top;
}

/* nav style */
nav{
   
width: 1140px
   }
.banner-head{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
}
.list{
    color: #0D1321;
    text-align: left;
    font-size: 28px;
    font-weight: 800;
    font-style: ;
}
nav li a{
    text-decoration: none;
}
nav ul{
    justify-content: space-between;
    display: flex;
    
}

nav ul li{
  list-style: none;}
  
.btn{
    padding: 21px 24px;
    border: none;
    background-color: #0D1321;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    list-style: none;
}
.list-2{
    font-size: 20px;
    text-align: end;
    font-weight: 600;
    border-radius: 8px;
    background-color: white;
    padding: 24px 17px;
    
}
.banner-dp{
    width: 240px;
    justify-content: center;
}
.banner{
    display: flex;
    justify-content: center;
    direction: column;
}